<div class="container">
  <div class="jumbotron">
    <div><%= current_user.username %></div>
      <% Venue.near([@location.latitude, @location.longitude], 15).each do |venue| %>
        <%= venue.name %>
      <% end %>
      <% current_user.future_events.each do |event| %>
				<div class="rsvp_form" data-user-id="<%=current_user.id %>">
					<% rsvp_status = current_user.rsvp_for_event(event).status %>
						<% unless rsvp_status == "not_interested" %>
					<div class"rsvp_button" data-rsvp-id="<%current_user.rsvp_for_event(event).id %>">
						<li><%= link_to event.title, event_path(event) %>
							<%= render partial: "shared/rsvps", locals: { rsvp: current_user.rsvp_for_event(event) }, html: { class: "update" } %>
						<% end %>
			<% end %>
						</li>
					</div>
				</div>
    </div>
  </div>
</div>
