<div class="container">
  <div class="jumbotron">
    <div><%= @artist.name %></div>
    <div><%= image_tag @artist.artist_pic %></div>
    <div><%= @artist.bio %></div>
    <div><%= "Upcoming Events:" %></div>
    <div><% @artist.future_events.each do |event| %></div>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>
    <div><%= "Past Events:" %></div>
    <div><% @artist.past_events.each do |event| %></div>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>

  </div>
</div>
