<div class="container">
  <div class="jumbotron">
    <td><%= @event.name %></td>
    <td><%= "on" %></td>
    <td><%= @event.date %></td>
    <td>
      <ul>
				<% @event.artists.each do |artist| %></td>
					<li><%= artist.name %></li>
				<% end %>
      </ul>
    </td>
    <td>
      <% if @rsvp %>
        <%= form_for ([current_user, @rsvp]), html: { class: ["new", "update"] } do |f| %>
					<%= f.hidden_field :event_id %>
          <%= f.radio_button :status, "attending" %>
					<%= f.radio_button :status, "interested" %>
          <%= f.radio_button :status, "not_interested" %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </td>
  </div>
</div>
